.flexItem {
  display: flex;
  max-width: 50%;
  margin-top: 20px;
}

.leftItems {
  display: flex;
  flex-direction: column;
}

.rightItem {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MainImg {
  width: 100%;
  max-width: 90%;
}
